{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        com.datomic/local {:mvn/version "1.0.285"}
        nrepl/bencode {:mvn/version "1.1.0"}
        babashka/babashka.pods {:git/url "https://github.com/babashka/babashka.pods"
                                :git/sha "28cf3de4ef2f31258ca24112c69f49e3d9165ea1"}
        com.cognitect/transit-clj {:mvn/version "1.0.329"}}

 :aliases {:native {:jvm-opts ["-Dclojure.compiler.direct-linking=true"]
                    :extra-deps {com.github.clj-easy/graal-config-cheshire
                                 {:git/url "https://github.com/clj-easy/graal-config"
                                  :git/sha "0dc2862e1b1c9871eef4c306ef77da3610a2bd93"
                                  :deps/root "config/cheshire/cheshire"}
                                 com.github.clj-easy/graal-build-time
                                 {:mvn/version "0.1.4"}}}

           :build {:deps {io.github.clojure/tools.build
                          {:git/tag "v0.8.3"
                           :git/sha "0d20256"}}
                   :ns-default build}

           :test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1"
                                :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}}}
